-#  Copyright (c) 2012-2021, German Contingent for the Worldscoutjamboree 2023. This file is part of
-#  hitobito_jamda_2023 and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/mwppoe/jamda_2023.

%article.col-lg
  %article.span5
    - if (@person.years.to_i >= 18) 
      = t('activerecord.attributes.person.additional_contact_a_info_adult')
    - else 
      = t('activerecord.attributes.person.additional_contact_a_info')
    = render_attrs(entry,
                      :additional_contact_name_a, 
                      :additional_contact_adress_a,
                      :additional_contact_phone_a,
                      :additional_contact_email_a,
                      :additional_contact_whatsapp_a,
                      :additional_contact_relationship_a)
    - if (@person.years.to_i >= 18) 
      = t('activerecord.attributes.person.additional_contact_b_info_adult')
    - else 
      = t('activerecord.attributes.person.additional_contact_b_info')
    = render_attrs(entry,
                      :additional_contact_name_b, 
                      :additional_contact_adress_b,
                      :additional_contact_phone_b,
                      :additional_contact_email_b,
                      :additional_contact_whatsapp_b,
                      :additional_contact_relationship_b)