#main.row-fluid
  - if can?(:edit, @person)
    - if (@person.status == 'Upload vollständig')
      = t('activerecord.attributes.person.upload_info_ready')
    - else 
      = t('activerecord.attributes.person.upload_info')
    %br 
    = standard_form(@person, {url: upload_group_person_path,  method: :put}) do |f|
      = f.error_messages
      %br
      %br
      = t('activerecord.attributes.person.upload_passport_info')
      %br
      = f.labeled(:upload_passport_pdf, t('activerecord.attributes.person.upload_passport_pdf')) do
        = f.file_field(:upload_passport_pdf)
        = render 'person/upload/button_passport'
      %br
      %br
      = t('activerecord.attributes.person.upload_registration_info')
      = f.labeled(:upload_registration_pdf, t('activerecord.attributes.person.upload_registration_pdf')) do
        = f.file_field(:upload_registration_pdf)
        = render 'person/upload/button_registration'
      %br
      %br
      -if(@person.role_wish == "Patrullenbetreuer*in" || @person.role_wish == "CMT")
        = t('activerecord.attributes.person.upload_data_processing_info')
        %br
        = f.labeled(:upload_data_processing_pdf, t('activerecord.attributes.person.upload_data_processing_pdf')) do
          = f.file_field(:upload_data_processing_pdf)
          = render 'person/upload/button_data_processing'
        %br
        %br
      %br
      = form_buttons(f, submit_label: 'Dokumente hochladen', cancel_url: person_path(@person))


